{% extends "../pebbles/lightbox.form.layout.html" %}

{% set competitionTerms = "http://bit.ly/terms-conditions-noxu" %}

{% block scripts %}
  <script>
      var xlyrData = {
          uuid: '{{ campaignCustomerUuid }}',
          registerFunction: function(data) { xlylap.push(data);},
          successMessage: 'Thank you for entering the competition! We\'ll be in touch by 30 June if you are the lucky winner. \n\nYour Noxu Home account is ready, use code NOXU20 to get &pound;20 off your first order!',
      };
  </script>
  <script src="{{ assetsUrl }}/lightbox/js/lightbox.api.push.js?v={{ cssVersion }}"></script>
{% endblock %}

{% block content %}
  <div class="xly-top">
    Win &pound;1,000 to spend in designer furniture
  </div>
  <div class="xly-offer-image" style="background-image:url('{{ assetsUrl }}/lightbox/img/noxu-banner.png');">
    <a href="http://bit.ly/noxu-home" target="_blank"></a>
  </div>
  <div class="xly-bottom">
    <div>
      <span class="xly-regular">Click above to discover the Noxu Home range.<span class="text-clear"></span>Come back and fill this form for your chance to win.</span>
    </div>
  </div>
{% endblock %}
