{% extends "../pebbles/lightbox.form.layout.html" %}
{% set competitionTerms = "http://bit.ly/terms-conditions-noxu" %}

{% block scripts %}
  <style>
    .xly-show-less {
      display: none;
    }
    #xlyToggleButton{
      font-weight: bold;
    }
  </style>

  <script>
      var xlyrData = {
          uuid: '{{ campaignCustomerUuid }}',
          registerFunction: function(data) { xlylap.push(data);},
          successMessage: 'Thank you for entering the competition! We\'ll be in touch by 30 June if you are the lucky winner. \n\nYour Noxu Home account is ready, use code NOXU20 to get &pound;20 off your first order!',
      };

      var status = "less";

      function xlyToggleContent() {

          if (status == "less") {
              document.querySelector('.xly-content-text').classList.remove('xly-show-less');
              document.getElementById("xlyToggleButton").innerText = "less information";
              status = "more";
          } else if (status == "more") {
              document.querySelector('.xly-content-text').classList.add('xly-show-less');
              document.getElementById("xlyToggleButton").innerText = "...more information";
              status = "less";
          }
      }
  </script>
  <script src="{{ assetsUrl }}/lightbox/js/lightbox.api.push.js?v={{ cssVersion }}"></script>
{% endblock %}

{% block content %}
  <div class="xly-top">
    Win &pound;1,000 to spend in designer furniture
  </div>
  <div class="xly-offer-image" style="background-image:url('{{ assetsUrl }}/lightbox/img/noxu-banner.png');"></div>
  <div class="xly-bottom">
    <div>
      <span class="xly-regular">Transform your home with &pound;1,000 worth of designer furniture from Noxuhome.com.</span>
      <span class="xly-regular xly-show-less xly-content-text">
              <br />
              <br  />
              At NOXU Home they specialise in designer furniture made simple &#45; whatever your style there will be the perfect piece for you.
              <br />
              <br  />
              <img src="{{ assetsUrl }}/lightbox/img/noxu-lamp.jpg" style="margin: 0 auto;"/>
              <br />
              <br  />
              Transform your home with &pound;1,000 worth of designer furniture from Noxuhome.com. Designer made simple at NOXU Home. Homeware directly from the designers to your door.
              <br />
              <br  />
            </span>
      <a id="xlyToggleButton" onclick="xlyToggleContent();" href="javascript:void(0);">...more information</a>
      <span class="text-clear"></span>
      <br />
      <span class="xly-regular">For a chance to win, simply fill the form below.</span>
    </div>
  </div>
{% endblock %}
