{% extends lightbox == 'form' ? './pebbles/lightbox.form.layout.html' : './pebbles/lightbox.confirm.html' %}

{% block scripts %}
    <script>
        var xlyrData = {
            v: '2017-07-10-06',
            uuid: '{{ campaignCustomerUuid }}',
            lightbox: '{{ lightbox }}',
            registration: '{{ registration }}'
            {% if registration == 'api' and migrationInitiateUrl != null %},migrationInitiateUrl: '{{ migrationInitiateUrl }}'{% endif %}
            {% if loginUrl != null %},loginUrl: '{{ loginUrl }}'{% endif %}
            {% if registration == 'js' and parseAddressTypes != null %},parseAddressTypes: {{ parseAddressTypes | raw }}{% endif %}
            {% if registration == 'js' and registrationSteps != null %},registrationSteps: {{ registrationSteps | raw }}{% endif %}
        };
        console.log(xlyrData);
    </script>
{% endblock %}

{% block content %}
    {% if lightbox == 'form' %}
        {{ formContent | raw }}
    {% else %}
        {{ confirmContent | raw }}
    {% endif %}
{% endblock %}

