/**
 * Any override CSS code for the Italian popup will be added here.
 */

.xly-checkbox-wrapper.confirm-popup-radios {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.xly-checkbox-wrapper.confirm-popup-radios > .custom-control-inline {
    display: inline;
}

.legal-text-top {
    font-size: 12px !important;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.legal-text-bottom {
    font-size: 10px !important;
    text-align: left;
    margin-bottom: 10px !important;
}

.xly-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.xly-item.xly-logo {
    padding-top: 0 !important;
}

.xly-privacy-link {
    font-weight: normal !important;
    text-decoration: underline !important;
    font-size: 10px !important;
}

.xly-item + .xly-footer {
    margin-top: 10px;
}