@import 'lightbox-common.css?cb=5';

@media (min-width: 768px) {
  div.xly.xly-popup>div.xly.xly-container {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 12.5%;
    clear: none
  }
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row {
  max-width: 380px;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-checkbox-wrapper,
div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-secure {
  width: 100%;
  font-size: 10px !important;
  color: #b2b2b2;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-secure {
  margin-top: 25px;
  padding-bottom: 0 !important;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-checkbox-wrapper {
  padding-bottom: 10px;
  padding-left: 12px;
  text-indent: -12px;
  padding-top: 5px;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-checkbox-wrapper input, div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-subscribe label span {
  vertical-align: middle;
  font-size: 10px !important;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-checkbox-wrapper label span {
  font-size: 10px !important;
  font-weight: normal!important;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-secure>img {
  display: inline-block;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-secure>a {
  font-size: 10px !important;
  color: #b2b2b2;
  font-weight: 400;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-secure .xly-secure-img {
  width: 7px;
  height: 8px;
  display: inline-block;
  background-image: url("../img/new-lock.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-secure>a:last-child {
  /* font-weight: bold; */
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer {
  width: 100%;
  color: #808080;
  border-radius: 0 0 6px 6px;
  background-color: #f3f3f3;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms {
  margin: 21px 0;
  float: left;
  /* line-height: 44px; */
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy {
  text-align: left;
  max-width: 170px;
  font-size: 10px !important;
  line-height: 12px;
  color: #b3b3b3;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy .xly-not-name{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70px;
  position: relative;
  top: 3px;
  margin-right: -3px;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy .xly-not-name a,
div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy>a {
  font-size: 10px !important;
  color: #b3b3b3;
  font-weight: normal;
}

div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-actions .firstBtn,
div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-actions .secondBtn {
  float: left;
}

@media (max-width: 768px) {
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-content .xly-top {
    font-size: 1.4em !important;
    margin-top: 15px;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-actions a div {
    width: 80px;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-content .xly-bottom .text-clear {
    display: none;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms {
    width: 100%;
    margin-top: 0;
    margin-bottom: 11px;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-actions {
    padding-top: 20px;
    float: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px!important;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-logo {
    padding-top: 20px;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-content {
    margin-top: 0;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy {
    text-align: center;
    line-height: 13px!important;
    margin: 5px auto;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-checkbox-wrapper {
    padding-bottom: 0px!important;
    padding-top: 5px!important;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy .xly-not-name{
    display: inline-block;
    text-align: center;
    overflow: visible;
    max-width: 100%;
    position: relative;
    top: 0px;
  }
}

@media (max-width: 420px) {
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-logo .xly-cell div {
    height: 80px;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-terms .xly-policy .text-clear-bottom {
    display: block;
  }
  div.xly.xly-popup>div.xly.xly-container>div.xly.xly-row .xly-footer .xly-actions a div {
    width: 90px;
  }
}
