.button-gray {
  font-family: $bold-font-family;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #9da5ab;
  padding: 11px 20px;
  letter-spacing: 3px;
  border: none;
  border-radius: 5px;
}

.button-gray:hover {
  background-color: rgba(158, 158, 158, 0.2);
  text-decoration: none;
}

