@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/AvenirLTStd-Light.otf")
}

@font-face {
  font-family: 'Avenir Book';
  src: url("../fonts/Avenir-lt-45-book.ttf")
}

@font-face {
  font-family: 'Avenir Roman';
  src: url("../fonts/Avenir-lt-55-roman.otf")
}

@font-face {
  font-family: 'Avenir Medium';
  src: url("../fonts/Avenir-lt-65-medium.ttf")
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url("../fonts/Avenir-lt-85-heavy.otf")
}

@font-face {
  font-family: 'Avenir Black';
  src: url("../fonts/Avenir-lt-95-black.ttf")
}

@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/AvenirLTStd-Light.otf")
}

@font-face {
  font-family: 'Avenir Book';
  src: url("../fonts/Avenir-lt-45-book.ttf")
}

@font-face {
  font-family: 'Avenir Roman';
  src: url("../fonts/Avenir-lt-55-roman.otf")
}

@font-face {
  font-family: 'Avenir Medium';
  src: url("../fonts/Avenir-lt-65-medium.ttf")
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url("../fonts/Avenir-lt-85-heavy.otf")
}

@font-face {
  font-family: 'Avenir Black';
  src: url("../fonts/Avenir-lt-95-black.ttf")
}