@include media-query($on-palm) {

  header .logo img {
    width: 100px;
  }

  .badges a {
    display: block;
  }

  .menu {
    display: none;
  }

  .content {
    max-width: 100%;
    display: block;
    padding: 10px;
  }
}