.clr {
  clear: both;
}

section {
  padding-top: 53px;
  padding-bottom: 53px;
}

.feature {
  background: $brand-color-blue;
}

.highlight {
  background: $brand-color-yellow;
}

.section_inner {
  max-width: $site-max-width;
  margin: 0 auto;
}
 section.page {
   padding-top: 33px;
 }

 .breadcrumb .section_inner {
  padding-left: 20px;
 }
section h1 {
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 53px;
  font-family: $bold-font-family;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
}

p {
  padding: 0 10px 10px 10px;
}

p a {
  border-bottom: dotted 1px;
}
p a:hover, p a:active {
  border-bottom: solid 1px;
  text-decoration: none;
}
a {
  color: $text-light-grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.lang img {
  border-radius: 25%;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align:middle;
}

aside.menu {
  float: left;
  max-width: 25%;
  margin-right: 20px;

  li {
    list-style-type: none;
  }
}

.content {
  display: inline-block;
  max-width: 70%;

  .chapter {
    padding-top: 10px;
    padding-bottom: 10px;

    &:first-child {
      padding-top: 0;
    }

    &:target {
      padding-top: 65px;
    }

    ul {
      list-style-type: none;
    }
  }

  .section {
    .section_item {
      ul {
        margin-left: 10px;
      }
    }
  }
}

pre {
  background: $brand-color-yellow;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
}

pre {
  overflow: auto;
  margin-top: 10px;
}

.page h2 {
  padding: 15px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.page h3 {
  margin: 10px 0;
  padding: 3px 10px;
  background: $brand-color-blue;
}
.page h4 {
  padding: 20px 0;
}

.page li {
  margin: 5px 0 5px 25px;
}