table {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: $brand-color-dark;
  width: 100%;
}

table, tr, td {
  border-spacing: 0;
}

table > thead {
  letter-spacing: .1em;
  text-transform: uppercase;
}

table > thead > tr, table > thead > tr > th {
  background-color: $brand-color-dark;
  color: #efefef;
  white-space: nowrap;
  font-weight: 400;
}

table > tbody > tr > td {
  background-color: rgb(239, 239, 239);
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
  padding: 8px 14px;
  vertical-align: top;
  border: 1px solid #fff;
  min-height: 30px;
}

table td:first-child {
  font-size: 16px;

}