/**
 * Expressly demo popup stylesheet.
 * Handles how the popup and it's contents are displayed.
 **/
.xly-demo-popup {
    position: fixed;
    height: auto;
    top: 15vh;
    left: 30vw;
    right: 30vw;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 9999;
    display: none;
}

@media all and (max-width: 1200px) {
    .xly-demo-popup {
        left: 15vw;
        right: 15vw;
    }
}

@media all and (max-width: 850px) {
    .xly-demo-popup {
        position: absolute;
        left: 10vw;
        right: 10vw;
    }
}

.xly-demo-popup-container {
    padding: 20px;
    position: relative;
    color: #2A7335;
    border: 1px solid #9FC59F;
    background: #DBF1D6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
}

.xly-demo-popup-container .xly-demo-popup-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 15px;
}

.xly-demo-popup-container .xly-demo-popup-content p {
    margin: 5px 0;
}

.xly-demo-popup-container .xly-demo-popup-close {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 10px;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    color: #9FC59F;
    width: 36px;
    height: 36px;
    border: 2px solid #9FC59F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.xly-demo-popup-container .xly-demo-popup-close:after {
    content: '\00d7';
}

.xly-demo-popup-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}