<link rel="stylesheet" type="text/css" href="{{ assetsUrl }}/lightbox/css/style.css?v={{ cssVersion }}&v1=1">
<div id="xly" class="xly xly-popup" style="display:none">
    <div class="xly xly-container">
        <div class="xly xly-row">
            <div class="xly-item xly-content">
                <div class="xly-top">
                    Welcome {{ firstName}}
                </div>
                <div class="xly-bottom">
                    {{ lightboxConfirmMessage | raw }}
                    <div>
                        <span>{{ giverName}}</span>
                        <span class="xly-regular"> {{ autoConfirm ? 'is sending' : 'will send' }}</span>
                        <span>{{ takerName }}</span>
                        <span class="text-clear"></span>
                        <span class="xly-regular">your {{ detailsBeingMigrated }} - less typing for you!</span>
                    </div>
                </div>
            </div>
            <div class="xly-item xly-logo">
                <div class="xly-cell xly-bordered">
                    <div style="background: url('{{ giverLogo }}') no-repeat center; background-size: contain;"></div>
                </div>
                <div class="xly-cell">
                    <div class="xly-arrows"></div>
                </div>
                <div class="xly-cell xly-bordered">
                    <div style="background: url('{{ takerLogo }}') no-repeat center; background-size: contain;"></div>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="xly-item">
                <div class="xly-secure">
                    <div class="xly-secure-img">

                    </div>
                    Secure data transfer <a href="https://buyexpressly.com/consumer" target="_blank">(learn more)</a>
                </div>
                <div class="xly-checkbox-wrapper">
                    <div style="display:{{ displayOptout }}">
                        <label for="xly-subscribe-input"><input type="checkbox" id="xly-subscribe-input"/> <span>I do not want to receive updates from {{ takerName }}</span></label>
                    </div>
                </div>
            </div>
            {% include "./lightbox.footer.html" %}
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
<script src="{{ assetsUrl }}/lightbox/js/lightbox.min.js?v={{ cssVersion }}"></script>
